PORT=8000

MONGODB_URI_LOCAL=mongodb://127.0.0.1:27017/usuario

HOST_MAILTRAP=smtp.gmail.com
PORT_MAILTRAP=465
USER_MAILTRAP=
PASS_MAILTRAP=

URL_BACKEND=http://localhost:8000/api/
URL_FRONTEND=http://localhost:5173/

JWT_SECRET=